<div class="row">
  <div class="col-md-8">
    <p class="lead">The imperative step in analyzing flow regimes for well testing.</p>
    <p>
      SPE-12777, by Bourdet et al., is a monumental SPE article that aided in the 
      revolution of well testing. Realizing that analysis of the pressure derivative
      is able to identify certain flow regimes, it is important that this data
      be clear and easy to interpret. Using the Bourdet 3-point derivative algorithm,
      a well testing derivative will be developed.
    </p>
    <p class="font-weight-bold">
      Links:
      <a href="/assets/projects/bourdet-derivative-smoothing.html">Article</a>
    </p>
  </div>
  <div class="col-md-4">
    <a href="/assets/images/bourdet-derivative-smoothing-cover-image.png">
      <img
        class="img-fluid"
        alt="Bourdet diagnostic plot"
        src="/assets/images/bourdet-derivative-smoothing-cover-image.png"
      />
    </a>
  </div>
</div>
