<div class="row">
  <div class="col-md-8">
    <p class="lead">Leveraging Scipy.Optimize to Perform Hyperbolic DCA.</p>
    <p>
      One of the main decline curve models still being used by petroleum engineers
      dates back to 1945. The man who published the earliest papers related to this
      was J.J. Arps. In this article, global minimization algorithms provided from 
      Scipy.Optimize are used to best define a hyperbolic decline model.
    </p>
    <p class="font-weight-bold">
      Links:
      <a href="/assets/projects/hyperbolic-decline-optimization.html">Article</a>
    </p>
  </div>
  <div class="col-md-4">
    <a href="/assets/images/hyperbolic-decline-cover-image.png">
      <img
        class="img-fluid"
        alt="Optimize Hyperbolic Decline"
        src="/assets/images/hyperbolic-decline-cover-image.png"
      />
    </a>
  </div>
</div>
