<div class="row">
  <div class="col-md-8">
    <p class="lead">Calculus&#58 Manually Programming Numerical Integration.</p>
    <p>
      When working with complex functions, computing the integral of a function
      is difficult. Therefore, using the concept of area under a function, the rectangular 
      approximation to an integral is developed in this notebook. Additionally, an
      analysis of the accuracy of these numerical methods are evaluated by varying
      the number of rectangular panels.
    </p>
    <p class="font-weight-bold">
      Links:
      <a href="/assets/projects/integration-methods.html">Article</a>
    </p>
  </div>
  <div class="col-md-4">
    <a href="/assets/images/integration-methods-cover-image.png">
      <img
        class="img-fluid"
        alt="Optimize Hyperbolic Decline"
        src="/assets/images/integration-methods-cover-image.png"
      />
    </a>
  </div>
</div>
