<div class="row">
  <div class="col-md-8">
    <p class="lead">3 simple equations to govern the physics of fluid flow through porous media.</p>
    <p>
      Sure, oil price is important. However, first you have to produce it from
      1000s of feet below surface. This article extensively explains how the
      following three equations form the fundamental expression that governs
      the physics of liquid fluid flow through porous media&#58
    <ul>
      <li>
        Mass continuity equation
      </li>
      <li>
        Equation of motion
      </li>
      <li>
        Equation of state
      </li>
    </ul>
    </p>
    <p class="font-weight-bold">
      Links:
      <a href="/assets/projects/Liq_Diffusivity_Eqn.pdf">Article</a>,
    </p>
  </div>
  <div class="col-md-4">
    <a href="/assets/images/gravity.png">
      <img
        class="img-fluid"
        alt="Gravity simulation"
        src="/assets/images/gravity.png"
      />
    </a>
  </div>
</div>
