<div class="row">
  <div class="col-md-8">
    <p class="lead">Leveraging animated graphics for evolutionary changes.</p>
    <p>
      When dealing with large data sets, looking at the full range of data may not
      be appropriate for analysis purposes. Additionally, we may not be primarily interested
      in absolute values throughout time, but rather, in the changes realized at each time step.
      In this project, we look at US state population evolution based on US Census data dating
      back to 1790. Let's see what the path was that lead to California, Texas, and Florida to be
      the most populous states in the US (as of 2020).
    </p>
    <p class="font-weight-bold">
      Links:
      <a href="/assets/projects/us-state-population-evolution.html">Article</a>
    </p>
  </div>
  <div class="col-md-4">
    <a href="/assets/images/us-state-population-evolution-cover-image.png">
      <img
        class="img-fluid"
        alt="SPC NCF Model Image"
        src="/assets/images/us-state-population-evolution-cover-image.png"
      />
    </a>
  </div>
</div>
