<div class="row">
  <div class="col-md-8">
    <p class="lead">Automating z-factor (compressibility factor) computations.</p>
    <p>
      When petroleum engineers work with hydrocarbons that produce associated gas,
      many of the models require an equation of state (EOS) that is more complex
      than the traditional ideal gas law. To implement the real gas EOS, an important
      component is the gas compressibility factor ("z-factor"). Here we will program
      our own z-factor correlation that can be used in reservoir engineering problems
      and simulations.
    </p>
    <p class="font-weight-bold">
      Links:
      <a href="/assets/projects/z-factor-correlation-DAK.html">Article</a>
    </p>
  </div>
  <div class="col-md-4">
    <a href="/assets/images/z-factor-correlation-DAK-cover-image.png">
      <img
        class="img-fluid"
        alt="SPC NCF Model Image"
        src="/assets/images/z-factor-correlation-DAK-cover-image.png"
      />
    </a>
  </div>
</div>
