---
layout: default
title: Anthony Jimenez - Projects
permalink: /projects
---

<section class="container">
  <h2>Projects</h2>
  <p>
    I welcome new ideas, projects, and collaborations. If you have
    any questions or find something interesting, feel free to contact me 
    <a href= "http://www.fa-jimenez.com/contact" >here</a>.
  </p>

<div class="spacer"></div>  
  <br>
  <p>
    I am in the process of writing articles to accompany my
    python scripts, so please check back periodically as I
    catch up.
  </p>
  
  
  <!--
  

  <h4>Table of Contents</h4>  
  <ul class="list-unstyled">
    {% assign sorted_projects = site.data.projects | sort: 'title' %}
    {% for project in sorted_projects %}
    <li>
      <a href="#{{ project.title | url_encode }}">{{ project.title }}</a>
    </li>
    {% endfor %}
  </ul>
</section>

<div class="spacer"></div>
{% for project in site.data.projects %}
<section class="container" id="{{ project.title | url_encode }}">
  <h3>{{ project.title }} <small>{{ project.date }}</small></h3>
  {% assign repo = project.repo %}
  {% assign tags = project.tags %}
  {% include tags.html repo=repo tags=tags %}
  {% if project.summary %}
  {% capture include_path %}projects/{{ project.summary }}{% endcapture %}
  {% include {{ include_path }} %}
  {% endif %}
</section>
{% if forloop.last == false %}
<hr />
{% endif %}
{% endfor %}


-->

<div class="spacer"></div>
  
